main { 
    width: 80%;
    margin-left: 20%;
    margin-top: 2%;
    
    
}
body{
    background-image: url(../bilder/bakgrund.png);
    background-size: cover;
    margin: 0 6%;
    
}
aside {
    width: 20%;
    border-right: 1px double aqua;   
    text-align:left;
    float: left;
    height: 690px; 
}
h1 {
    font-size: 2em; 
    text-align: center;
    font-family: 'K2D', sans-serif;
    padding 2 2%;
    color: darkgrey;
    
}
img {
    
    width: 150px;
    border-radius: 100px;
    color: aqua;
    border-style: dotted;
}

p{
    padding: 0 2%;
    font-family: 'Slabo 27px', serif;
    color: white;

}
h2 {
    padding: 0 2%;
    font-family: 'Roboto', sans-serif;
    color: aqua;
    
}
.bild {
    text-align: center;
}
li{
    padding: 0 2%;
    color: ghostwhite;
}
blockquote{
    color: ghostwhite
}

.border{
    margin: 0 2%;
    border-style:dotted;
    color: aqua;
    border-radius: 12px;
}
.border1{
    margin: 2% 8%;
    border-style: dotted;
    color:aqua;
    border-radius: 12px;
}
aside>h2,aside>p{
    margin-right : 25px;
}
