.column {
    float: left;
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}
.column1{
    text-align: left;
}
.column2{
    text-align:right;
    
}
h1, h2{
    font-family: 'K2D', 'sans-serif';
}
img{
    text-align: left;
    width: 150px;
    border-style:double;
    border-width: medium;
}
.v1{
    border-left: 6px solid  black;
    height: 750px;
    align-items: center;
}
